services:
  db:
    image: postgres:15-alpine
    container_name: postgres_local
    restart: always
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=qwer
      - POSTGRES_DB=profile_DB
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: